.form{
   border:1px solid black;
   display:flex;
   flex-direction:column; 
   height:fit-content;
   max-width:50%;
   margin:auto;
   box-shadow:1px 1px 3px black;
   text-align:center;

}

.card{
    height:fit-content;
    max-width:50%;
    border: 1px solid black;
    margin:auto;
    margin-top:2em;
    border-radius:1em;
    padding:0.5em;
    box-shadow:1px 1px 2px black;
  
}

.card:hover{
    cursor:pointer;
    transform:translate(-2px,-2px);
    transition: transform 0.3s ease-in-out;
    background-color: #eaeaea;
}
